* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: sans-serif;
}

.nav_bar {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 25px 150px;
  z-index: 15;
  width: 100vw;
}

.navlogo img {
  width: 160px;
  height: 47px;
}

.items_container {
  display: flex;
  gap: 20px;
}

.item1 {
  border: 1px solid rgb(137, 129, 129);
  background-color: rgb(29, 29, 29);
  border-radius: 4px;
  height: 35px;
  width: 130px;
  padding: 4px;
}

.languageselector {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 17px;
}

.languageicon {
  padding-left: 4px;
}

.signbutton {
  height: 35px;
  width: 90px;
  color: white;
  border: none;
  background-color: red;
  border-radius: 4px;
  font-weight: 600;
  font-size: 15px;
}

.backgroundimage {
  width: 100vw;
  height: 100vh;
}

.bgimage {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.overlaybox {
  width: 100vw;
  height: 100vh;
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0.65;
}

/* .bgimagepart{
    height: 100vh;
} */
@media screen and (max-width: 740px) {
  .nav_bar {
    padding: 25px 50px;
  }
}

@media screen and (max-width: 505px) {
  .nav_bar {
    flex-direction: column;
    padding: 25px 50px;
    align-items: center;
    gap: 10px;
  }

  .items_container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

.headingcontent {
  display: flex;
  flex-direction: column;
  gap: 26px;
  position: absolute;
  top: 40%;
  left: 15%;
  right: 15%;
  text-align: center;
}

.headingtext {
  font-size: 50px;
}

#para1 {
  font-size: 26px;
}

#para2 {
  font-size: 20px;
}

.headingbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}

#emailaddress {
  border: 1px solid rgb(137, 129, 129);
  background-color: transparent;
  color: white;
  border-radius: 4px;
  width: 300px;
  height: 50px;
}

#startbutton {
  width: 170px;
  height: 50px;
  font-size: 23px;
  font-weight: 600;
  background-color: red;
  color: white;
  border-radius: 4px;
  border: none;
}

@media screen and (max-width: 600px) {
  .headingcontent {
    top: 30%;
  }

  .headingbox {
    flex-direction: column;
    align-items: center;
  }

  .headingtext {
    font-size: 30px;
  }

  #emailaddress {
    width: 250px;
    height: 40px;
  }
}

@media screen and (max-width: 410px) {
  .headingtext {
    font-size: 27px;
  }

  #emailaddress {
    width: 210px;
    height: 36px;
  }

  #startbutton {
    width: 150px;
    height: 44px;
    font-size: 19px;
  }
}

.seperation {
  width: 100vw;
  height: 7px;
  background-color: grey;
}

.content1 {
  width: 100vw;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentbox1 {
  display: flex;
  position: absolute;
  left: 80px;
  right: 80px;
}

.subcontentbox11 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.subcontentbox11 p {
  font-size: 24px;
}

.subcontentbox11 h1 {
  font-size: 45px;
  font-weight: 800;
}

.subcontentbox12 {
  position: relative;
}

.subcontentbox12 img {
  width: 510px;
  height: 400px;
  position: relative;
  z-index: 10;
}

.subcontentbox12 video {
  position: absolute;
  right: 71px;
  bottom: -26px;
}

.content2 {
  width: 100vw;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentbox2 {
  display: flex;
  position: absolute;
  left: 80px;
  right: 80px;
}

.subcontentbox21 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.subcontentbox21 p {
  font-size: 24px;
}

.subcontentbox21 h1 {
  font-size: 45px;
  font-weight: 800;
}

.subcontentbox22 {
  position: relative;
}

.subcontentbox22 img {
  width: 510px;
  height: 400px;
  position: relative;
  z-index: 10;
}

.subcontentbox22 video {
  position: absolute;
  right: 94px;
  bottom: 180px;
  height: 195px;
  width: 327px;
}
.content3 {
  width: 100vw;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentbox3 {
  display: flex;
  position: absolute;
  left: 80px;
  right: 80px;
}

.subcontentbox32 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.subcontentbox32 p {
  font-size: 24px;
}

.subcontentbox32 h1 {
  font-size: 45px;
  font-weight: 800;
}

.subcontentbox31 {
  position: relative;
}

.subcontentboximage {
  width: 510px;
  height: 400px;
  position: relative;
}
.viewbox {
  width: 325px;
  height: 100px;
  position: absolute;
  top: 67%;
  left: 93px;
  background-color: black;
  border: 1px solid rgb(188, 187, 187);
  border-radius: 10px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.viewBox {
  display: flex;
  align-items: center;
}
.viewBox img {
  width: 65px;
  height: 80px;
  margin: 5px 10px;
}
#Stranger {
  font-size: 15px;
}
#Download {
  color: blue;
  font-size: 12px;
  margin: 5px;
}
#imagee img {
  width: 50px;
  height: 50px;
  margin: 10px;
}

@media screen and (max-width: 1040px) {
  .contentbox1 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .subcontentbox11 p {
    font-size: 18px;
  }

  .subcontentbox11 h1 {
    font-size: 40px;
    font-weight: 800;
  }

  .contentbox2 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .subcontentbox21 p {
    font-size: 18px;
  }

  .subcontentbox21 h1 {
    font-size: 40px;
    font-weight: 800;
  }
}

@media screen and (max-width: 610px) {
  .subcontentbox11 p {
    font-size: 15px;
  }

  .subcontentbox11 h1 {
    font-size: 35px;
    font-weight: 700;
  }

  .subcontentbox12 img {
    width: 430px;
    height: 300px;
    position: relative;
  }

  .subcontentbox12 video {
    width: 313px;
    height: 235px;
    position: absolute;
    right: 60px;
    top: 27px;
  }

  .subcontentbox21 p {
    font-size: 15px;
  }

  .subcontentbox21 h1 {
    font-size: 35px;
    font-weight: 700;
  }

  .subcontentbox22 img {
    width: 430px;
    height: 300px;
    position: relative;
  }

  .subcontentbox22 video {
    width: 263px;
    height: 209px;
    position: absolute;
    right: 86px;
    top: -5px;
  }
}

@media screen and (max-width: 460px) {
  .subcontentbox11 p {
    font-size: 12px;
  }

  .subcontentbox11 h1 {
    font-size: 30px;
    font-weight: 700;
  }

  .subcontentbox12 img {
    width: 300px;
    height: 200px;
    position: relative;
  }

  .subcontentbox12 video {
    width: 220px;
    height: 216px;
    position: absolute;
    right: 40px;
    top: -15px;
  }

  .subcontentbox21 p {
    font-size: 12px;
  }

  .subcontentbox21 h1 {
    font-size: 30px;
    font-weight: 700;
  }

  .subcontentbox22 img {
    width: 300px;
    height: 200px;
    position: relative;
  }

  .subcontentbox22 video {
    width: 190px;
    height: 219px;
    position: absolute;
    right: 54px;
    top: -42px;
  }
}
